<h1>Images#show</h1>
<p>Find me in app/views/images/show.html.erb</p>

<p>Full JSON??</p>
<%= @full_json %>

<p>First image??</p>
<!-- <img src=" <%#= @full_json["images"][0]["referral_destinations"][0]["uri"] %>"> -->
